body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0px;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ec-card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 15px;
}

p {
  margin: 0 0 5px;
}

.card {
  /* margin: 15px; */
  border: 1px solid #e8e8e8;
}

.cardHeadImage {
  background-color: #f5f5f5;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.action {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

.action__container {
  border-right: 1px solid #e8e8e8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action__container:last-child {
  border: none;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 12px 0;
  list-style: none;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
}
.users {
  display: grid;
  margin: 15px;
  row-gap: 1.8rem;
  column-gap: 1.8rem;
  grid-template-columns: auto auto auto auto;
}
@media screen and (max-width: 1199px) {
  .users {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 768px) {
  .users {
    grid-template-columns: auto;
  }
}
.user__info {
  padding: 1.5rem;
}
.user__name {
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 16.38px;
  color: rgba(0, 0, 0, 0.83);
  font-weight: 500;
}
.contact {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
  padding: 4px 0;
  color: rgba(0, 0, 0, 0.65);
}
.text__label {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.65);
}
.logo-wrapper {
  display: flex;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Adjust opacity as needed */
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Modal content */
.modal-content {
  position: fixed;
  top: 12%;
  left: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  max-width: 520px;
  /* transform-origin: center center; */
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
  list-style: none;
  /* top: 100px; */
  margin: 0 auto;
}

.modal-content.active {
  transform: scale(1);
}

/* .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  animation: opacityAnimation 0.3s ease-in-out;
}
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.modal__wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  animation: opacityAnimation 0.2s ease-in-out;
} */

.edit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
}
.hr {
  color: rgba(0, 0, 0, 0.65);
}
.form {
  display: flex;
  flex-direction: column;
}
.field {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  /* margin: 10px 0; */
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
}
.fields {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  padding: 24px;

  /* align-items: flex-end; */
}
.edit__fields__input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: 0;
  transition: outline 0.1 ease-in-out;
}
.edit__fields__input:focus,
.edit__fields__input:hover {
  outline: 1px solid #1890ff;
}
.edit__fields__input:invalid {
  outline: 1px solid #f5222d;
}
.edit__fields__label {
  width: 100px;
  margin-right: 10px;
  text-align: end;
}
.edit__fields__label::before {
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.button__cancel {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.button__ok {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  margin-left: 8px;
}

.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 16px;
}
.error {
  position: absolute;
  color: #f5222d;
  font-size: 14px;
  bottom: -5px;
}

@media screen and (max-width: 575px) {
  .edit__fields__label {
    text-align: left;
    padding-bottom: 8px;
  }
  .field {
    flex-direction: column;
  }
  .modal-content.active {
    margin: 8px;
  }
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}
